.landing {
  font-family: $font-input;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: antiquewhite;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0 1px 6px 0 black;
  h3 {
    text-align: center;
  }
  ul {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &_cont {
    background-color: aliceblue;
    height: 500px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 black;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-family: $font-hand;
    }
    &-img {
      margin: 20px;
      height: 400px;
      background-image: url('../../images/tokyo.jpg');
      background-size: cover;
      background-position: center;
      border-radius: 5px;
      box-shadow: inset 0 1px 6px 0 black;
    }
  }
}

.collapsed {
  display: none;
}
